:root {
    --link-color-on-dark: #18d1a9;
    --link-color-on-white: #27a78b;

    /** Mute the white a tiny bit */
    --text-color-on-dark: #f6f7f9;
    --text-color-on-emphasis: #222f3a;

    /** Dark blue backgrounds */
    --background-color-darker: #2c3e50;
    --background-color-dark: #35495e;

    /** The green boxes */
    --background-color-emphasis: #00b992;

    --base-gap: 50px;
    --gap: var(--base-gap);

    --main-column-width: 1024px;

    --font-base: 1.3;
}

@media only screen and (max-width: 700px) {
    :root {
        --gap: calc(var(--base-gap) * 0.5);
        --font-base: 1.2;
    }
}

body {
    margin: 0;
    padding: 0;

    font-family: "Source Sans Pro", sans-serif;
    color: var(--background-color-darker);

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-size: 16px;
    line-height: 1.5;
}

a {
    color: var(--link-color-on-white);
    text-decoration: none;
}

strong {
    font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1.2;
    margin: 0.6em 0 0.4em 0;
}

h1 {
    font-size: calc(
        1em * var(--font-base) * var(--font-base) * var(--font-base) *
            var(--font-base)
    );
}

h2 {
    font-size: calc(
        1em * var(--font-base) * var(--font-base) * var(--font-base)
    );
}

h3 {
    font-size: calc(1em * var(--font-base) * var(--font-base));
}

h4 {
    font-size: calc(1em * var(--font-base));
}

h5 {
    font-size: 1.1em;
}

.row {
    display: flex;
    gap: var(--gap);
}

.row.monospace > * {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

@media only screen and (max-width: 993px) {
    .row.monospace {
        flex-direction: column;
    }

    .row.monospace > * {
        flex-basis: auto;
    }
}

header#top-header {
    --header-height: 80px;
    --nav-font-size: 16px;
    --menu-background-color: #f0f0f0;

    height: var(--header-height);

    font-size: var(--nav-font-size);

    background-color: var(--background-color-darker);

    display: flex;

    position: relative;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc((var(--header-height) - 24px) * 0.5)
        calc(var(--base-gap) * 0.5);
    width: var(--header-height);
    background-color: transparent;
    border: none;
    margin: 0;
}

.hamburger span {
    display: block;
    background-color: var(--text-color-on-dark);
    height: 4px;
    width: 100%;
    border-radius: 2px;

    transition: transform 0.2s ease-in-out, opacity 0.2s linear;
    /* TODO: Transition for the menu */
}

.menu-open .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.menu-open .hamburger span:nth-child(2) {
    opacity: 0;
}

.menu-open .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
}

.hamburger:hover {
    background-color: var(--background-color-dark);
}

/* Helps to center brand-logo in mobile layout */
header .dummy-item {
    display: none;
}

header .brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .brand-logo img {
    display: block;
    width: auto;
    height: 55px;
}

@media only screen and (min-width: 1024px) {
    header#top-header .hamburger {
        display: none;
    }

    header .brand-logo {
        margin-left: calc(var(--base-gap) * 0.5);
    }

    .main-page-link {
        display: none;
    }

    nav {
        line-height: normal;
        flex-grow: 1;
        margin-right: calc(var(--base-gap) * 0.25);
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav li.spacer {
        flex-grow: 1;
    }

    nav > ul {
        display: flex;
        height: var(--header-height);
    }

    nav > ul > li {
        position: relative;
    }

    nav > ul > li > :focus {
        outline: none;
    }

    nav > ul > li > :is(a, span, button) {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 calc(var(--base-gap) * 0.25);
        cursor: pointer;
        color: var(--text-color-on-dark);
        background-color: transparent;
        border: none;
    }

    nav > ul > li > span > span {
        padding-right: 1.2em;
    }

    nav > ul > li > span > span:after {
        content: "arrow_drop_down";
        margin-left: 0.1em;
        font-family: "Material Icons";
        font-weight: normal;
        font-style: normal;
        font-size: 1.4em;
        vertical-align: baseline;
        position: absolute;
    }

    nav > ul > li > ul {
        position: absolute;
        min-width: max-content;
        left: 0;
        right: 0;

        background-color: var(--menu-background-color);

        display: none;
        box-shadow: 0 7px 14px rgba(0 0 0 / 20%);

        padding: 0.3em 0;

        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    nav > ul > li > ul a:hover {
        background-color: #e0e0e0;
    }

    nav > ul > li:is(:focus-within, :hover) > :is(a, span, button) {
        background-color: var(--background-color-dark);
    }

    nav > ul > li:is(:focus-within, :hover) > ul {
        display: block;
    }

    nav > ul > li > ul :is(a, span) {
        display: block;
        padding: 0.4em calc(var(--base-gap) * 0.25);
        color: black; /* TODO */
    }

    nav li.heading span {
        font-weight: bold;
    }

    nav li.heading:not(:first-child) {
        border-top: 1px solid #d0d0d0;
        margin-top: 0.3em;
        padding-top: 0.3em;
    }

    nav ul a.active {
        color: var(--link-color-on-dark);
    }

    nav a {
        color: var(--text-color-on-dark);
    }

    nav i {
        vertical-align: bottom;
        margin-right: -0.3em;
    }
}

@media only screen and (max-width: 1023px) {
    nav {
        background-color: var(--menu-background-color);
        position: absolute;
        top: var(--header-height);
        left: 0;
        right: 0;

        display: none;

        box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    }

    header#top-header.menu-open nav {
        display: block;
    }

    header {
        justify-content: space-between;
    }

    header .dummy-item {
        display: block;
        width: var(--header-height);
    }

    header .brand-logo {
    }

    nav .spacer,
    nav .dropdown-arrow {
        display: none;
    }

    nav ul {
        list-style: none;
        padding-left: 2em;
    }

    nav > ul {
        padding-left: 0;
    }

    nav li > :is(a, span) {
        display: block;
        padding: 0.6em calc(var(--base-gap) * 0.5);
    }
}

section,
article,
footer {
    padding: var(--gap)
        max(var(--gap), calc((100vw - var(--main-column-width)) * 0.5));
    margin: 0;
}

article {
    flex-grow: 1;
    font-size: 16px;
}

article > *:first-child {
    margin-top: 0;
}

article > *:last-child {
    margin-bottom: 0;
}

section {
    text-align: center;
}

@media only screen and (max-width: 700px) {
    section {
        hyphens: auto;
    }
}

section > *:first-child {
    margin-top: 0;
}

section > *:last-child {
    margin-bottom: 0;
}

figure {
    margin: 2em;
}

figure > img {
    max-width: 100%;
    max-height: 35em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure > figcaption {
    font-size: 0.9em;
}

.home-info-section {
    background: var(--background-color-darker);

    font-weight: normal;
    font-size: 1.3em;
    color: var(--text-color-on-dark);
}

.home-info-section p {
    margin-top: 0;
    margin-bottom: 0;
}

.home-info-section img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    top: var(--gap);
}

.blue-section {
    background-color: var(--background-color-dark);
    color: var(--text-color-on-dark);
    font-size: 1.1em;
}

.blue-section a {
    color: var(--link-color-on-dark);
}

.event-boxes {
    display: flex;
    gap: var(--gap);
    padding: var(--gap);
}

.event-boxes .event-box {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    text-align: center;
    background-color: var(--background-color-emphasis);
    color: var(--text-color-on-emphasis);
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.event-box ul {
    list-style: none;
    padding: 0;
    line-height: 1.2;
}

.event-box ul li {
    margin: 0.4em 0;
}

@media only screen and (max-width: 1200px) {
    .event-boxes {
        --gap: 25px;
    }
}

@media only screen and (max-width: 993px) {
    .event-boxes {
        flex-direction: column;
        align-items: center;
    }

    .event-boxes .event-box {
        width: min(30em, 100vw - 2 * var(--gap));
    }
}

.event-box svg {
    margin-top: 1em;
    width: 6em;
    height: 6em;
}

.event-box a {
    color: var(--text-color-on-emphasis);
    text-decoration: underline;
}

.grey-section {
    text-align: center;
    background-color: #ecf0f1;
}

.lightgrey-section {
    background-color: #f8fdfe;
}

.green-section {
    background-color: var(--background-color-emphasis);
    color: var(--text-color-on-emphasis);
    text-align: center;
    padding: 20px 50px;
    font-size: 1.2em;
}

.green-section a {
    color: var(--background-color-darker);
    text-decoration: underline;
}

.event-details {
    padding-top: 10px !important;
}

.event-details .event-name {
    font-weight: bolder;
    font-size: 1.3em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
}

footer.page-footer {
    background-color: var(--background-color-darker);
    font-size: 90%;
    padding-bottom: 0;
    padding-top: calc(var(--base-gap) * 0.5);
    color: var(--text-color-on-dark);
}

footer.page-footer ul {
    list-style: none;
    padding-left: 0;
}

footer.page-footer .row > * > :first-child {
    margin-top: 0;
}

footer.page-footer .row {
    gap: var(--base-gap);
}

footer.page-footer a {
    color: var(--link-color-on-dark);
}

footer.page-footer .footer-copyright {
    text-align: center;
    font-weight: 300;
    font-size: 0.9em;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
}

.breadcrumb {
    margin: 0;
    background-color: var(--background-color-dark);
    color: var(--text-color-on-dark);
    font-size: 90%;

    padding: 0.5em calc(var(--base-gap) * 0.5);
}

.breadcrumb a {
    color: var(--link-color-on-dark);
}

.breadcrumb .chevron {
    margin: 0 0.5em;
}

.breadcrumb li {
    display: inline-block;
}

ul.post-list {
    padding: 0;
    list-style-type: none;
}

.post-list-item {
    margin-bottom: 10px;
    background-color: var(--background-color-darker);
    padding: 15px;
    font-size: 0.9em;
}

.post-list-item p,
.post-list-item-event p {
    margin: 0;
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.3em;
}

.post-list-item h4 {
    margin: 5px;
    font-size: 1.5em;
}

.post-list-item .type {
    background-color: var(--background-color-darker);
    color: var(--text-color-on-dark) !important;
    padding: 3px 5px;
    border-radius: 3px;
    display: inline-block;
}

.post-list-item .type a {
    color: var(--link-color-on-dark);
    text-decoration: none;
}

.post-list-item .type:hover {
    background-color: var(--background-color-dark);
}

.post-list-title {
    font-size: 1.2em;
    font-weight: bolder;
    font-style: normal;
    margin-bottom: 0;
}

.post-content-main {
    font-size: 1.2em;
}

.event-page-menu-block {
}

.post-list-item-event {
    margin-bottom: 2em;
}

.post-list-item-event .date {
    background-color: var(--background-color-emphasis);
    border-radius: 5px;
    padding: 5px 7px;
    color: var(--text-color-on-dark);
    display: inline-block;
    margin-right: 0.5em;
}

.post-list-item-event .post-list-link {
    font-weight: bolder;
    color: #21a186;
}

.post-list-item {
    margin: 5px;
}

.author {
    background-color: var(--link-color-on-white);
    padding: 4px 6px;
    color: var(--text-color-on-dark);
    border-radius: 5px;
}

.speaker-photo {
    float: right;

    width: min(35vw, 17em);

    margin-top: 1em;
    margin-right: 0;
    margin-left: 2em;
    margin-bottom: 1em;

    text-align: center;
}

.speaker-photo img {
    width: 100%;
    border-radius: 1em;
}

.speaker-photo figcaption {
}

/****** Speakers (TAKEN FROM VDS 2015)****/

.talk {
    padding: 10px 5px 10px 10px;
    border: 1px solid #cccccc;
    margin: 5px 0px 5px 0px;
}

.tbioabstract {
    width: 75%;
    padding: 10px 0px 10px 0px;
}
.ttitle {
    font-weight: 800;
    font-size: 1.1em;
}
.tspeaker {
    font-weight: 600;
    font-size: 1em;
}

.ptitle {
    font-weight: 700;
    font-size: 1em;
}
.pauthor {
    font-weight: 500;
    font-size: 0.9em;
}

.tportrait {
    float: right;
    padding: 10px 0px 10px 0px;
    font-size: 0.6em;
}

@media screen and (max-width: 600px) {
    .tportrait {
        width: 35%;
    }
}

.tabstract {
    padding: 5px 5px 5px 5px;
    /*border: 1px solid #cccccc;*/
    /*background-color: #eeeeee;*/
}

.tbio {
    padding: 5px 5px 5px 5px;
    /*border: 1px solid #cccccc;*/
}

.sumTime {
    font-weight: 600;
    width: 120px;
    float: left;
}

.sumTime2 {
    font-weight: 600;
    font-size: 20px;
    width: 120px;
    float: left;
}

.sumContent {
    font-weight: 600;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .sumContent {
        position: relative;
        left: 10px;
        width: 100%;
        clear: both;
        margin-left: 0;
    }
}

.sumDetails {
    position: relative;
    left: 100px;
}

@media screen and (max-width: 600px) {
    .sumDetails {
        position: relative;
        left: 10px;
        width: 100%;
        clear: both;
        margin-left: 0;
    }
}

.talk {
    padding: 10px 5px 10px 10px;
    border: 1px solid #cccccc;
    margin: 10px 0px 10px 0px;
}

.tbioabstract {
    width: 75%;
    padding: 10px 0px 10px 0px;
}
.ttitle {
    font-weight: 800;
    font-size: 1.1em;
}
.tspeaker {
    font-weight: 600;
    font-size: 1em;
}

.schedulerow {
    display: flex;
    gap: 1em;
    margin-bottom: 1.5em;
}

@media only screen and (max-width: 700px) {
    .schedulerow {
        display: block;
    }

    .schedulerow > :first-child {
        margin-bottom: 0.5em;
    }
}

.schedulerow > :first-child {
    flex-shrink: 0;
    min-width: 5em;
}

.schedulerow > :nth-child(2) {
    padding-left: 1em;
    border-left: 1px dashed #aaa;
}

.schedulerow ul {
    line-height: 120%;
}

.schedulerow .speaker {
    font-weight: bold;
    text-decoration: underline;
}

.schedulerow details {
    margin-top: 1em;
}

.schedulerow details summary {
    cursor: pointer;
}

/* --- */

svg {
    fill: currentColor;
}

time {
    white-space: nowrap;
}

p > time,
li > time {
    font-weight: bold;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}

.center-align {
    text-align: center;
}

.material-icons.large {
    font-size: 4em;
}

.scalable-banner {
    font-size: calc(
        min(var(--main-column-width) + 2 * var(--gap), 100vw) * 0.018
    );
}

.meetup-banner {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3em;
}

.meetup-banner img {
    width: 15em;
    height: 15em;
}

.meetup-banner > div {
    text-align: right;
    font-size: max(11px, 1.2em);
    line-height: 1.2;
}

.meetup-banner p:first-child {
    font-size: 1.3em;
    font-weight: bold;
}

.meetup-speaker-banner {
    margin: var(--gap) 0;

    display: flex;
    gap: 1em;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background-color-dark);
    padding: 1em;
}

.meetup-speaker-banner img {
    display: block;
    object-fit: cover;
    aspect-ratio: 1;
    height: 10em;
    border-radius: 50%;
    border: 0.2em solid var(--background-color-emphasis);
}

.meetup-speaker-banner > div {
    color: var(--text-color-on-dark);
    font-size: 2em;
}

.meetup-speaker-banner > div > :first-child {
    margin-bottom: 0.3em;
}

.meetup-speaker-banner .title {
    display: inline;
    line-height: 1.2;
    background-color: var(--background-color-emphasis);
    color: var(--text-color-on-emphasis);
}
