@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
	--link-color-on-dark: #18d1a9;
	--link-color-on-white: #27a78b;

	/** Mute the white a tiny bit */
	--text-color-on-dark: #f6f7f9;
	--text-color-on-emphasis: #222f3a;

	/** Dark blue backgrounds */
	--background-color-darker: #2c3e50;
	--background-color-dark: #35495e;

	/** The green boxes */
	--background-color-emphasis: #00b992;

	--base-gap: 50px;
	--gap: var(--base-gap);

	--main-column-width: 1024px;

	--font-base: 1.3;
}

@media only screen and (max-width: 700px) {
	:root {
		--gap: calc(var(--base-gap) * 0.5);
		--font-base: 1.2;
	}
}

body {
	margin: 0;
	padding: 0;

    font-family: "Source Sans Pro", sans-serif;
    color: var(--background-color-darker);

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
    color: var(--link-color-on-white);
}

strong {
    font-weight: bolder;
}

h1 {
    font-size: calc(1em * var(--font-base) * var(--font-base) * var(--font-base) * var(--font-base));
}

h2 {
    font-size: calc(1em * var(--font-base) * var(--font-base) * var(--font-base));
}

h3 {
    font-size: calc(1em * var(--font-base) * var(--font-base));
}

h4 {
    font-size: calc(1em * var(--font-base));
}

h5 {
    font-size: 1.1em;
}

nav {
	--nav-height: 80px;

    background-color: var(--background-color-darker);
    box-shadow: none;
    height: var(--nav-height);
    border-bottom: 3px solid var(--background-color-darker);
	line-height: unset !important; /* override materialize */

	font-size: 16px;
}

nav li.spacer {
	flex-grow: 1;
}

nav > ul {
	display: flex;
	height: var(--nav-height);
}

nav ul li {
	float: none; /* override materialize */
}

nav > ul > li {
	position: relative;
}

nav > ul > li > :focus {
	outline: none;
}

nav > ul > li > :is(a, span, button) {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 calc(var(--base-gap) * 0.25);
	cursor: pointer;
    color: var(--text-color-on-dark);
	background-color: transparent;
	border: none;
}

nav > ul > li > :hover:not(:focus-within) {
	color: var(--link-color-on-dark);
}

nav > ul > li > ul {
	position: absolute;
	min-width: max-content;
	left: 0;
	right: 0;

	background-color: #f0f0f0;

	display: none;
	box-shadow: 0 7px 14px rgba(0 0 0 / 20%);

	padding: 0.3em 0;

	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

nav > ul > li:is(:focus-within, :hover) > :is(a, span, button) {
	background-color: var(--background-color-dark);
}

nav > ul > li:is(:focus-within, :hover) > ul {
	display: block;
}

nav > ul > li > ul :is(a, span) {
	display: block;
	padding: 0.3em calc(var(--base-gap) * 0.25);
	color: black; /* TODO */
}

nav li.heading span {
	font-weight: bold;
}

nav li.heading:not(:first-child) {
	border-top: 1px solid #d0d0d0;
}

nav .brand-logo {
	position: static; /* override materialize */
}

nav .brand-logo img {
	display: block;
}

nav ul a {
	font-size: unset; /* override materialize */
}

nav ul a.active {
    color: var(--link-color-on-dark);
}

nav a {
    color: var(--text-color-on-dark);
}

nav i {
	/* override materialize */
	display: inline !important;
	font-size: 24px !important;
	height: unset !important;
	line-height: unset !important;

	vertical-align: bottom;
	margin-right: -0.3em;
}

section, article {
	padding: var(--gap) max(var(--gap), calc((100vw - var(--main-column-width)) * 0.5));
	margin: 0;
}

article {
	flex-grow: 1;
	font-size: 16px;
}

article > *:first-child {
	margin-top: 0;
}

article > *:last-child {
	margin-bottom: 0;
}

section {
	text-align: center;
}

@media only screen and (max-width: 700px) {
	section {
		hyphens: auto;
	}
}

section > *:first-child {
	margin-top: 0;
}

section > *:last-child {
	margin-bottom: 0;
}

.home-info-section {
    background: var(--background-color-darker);

    font-weight: normal;
    font-size: 1.4em;
    color: var(--text-color-on-dark);
}

.home-info-section p {
	margin-top: 0;
	margin-bottom: 0;
}

.home-info-section img {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	top: var(--gap);
}

.blue-section {
    background-color: var(--background-color-dark);
    color: var(--text-color-on-dark);
    font-size: 1.2em;
}

.blue-section a {
	color: var(--link-color-on-dark);
}


.event-boxes {
	display: flex;
	gap: var(--gap);
	padding: var(--gap);
}

.event-boxes .event-box {
	display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

	text-align: center;
    background-color: var(--background-color-emphasis);
    color: var(--text-color-on-emphasis);
    border-radius: 6px;
    padding: 10px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

@media only screen and (max-width: 1200px) {
	.event-boxes {
		--gap: 25px;
	}
}


@media only screen and (max-width: 993px) {
	.event-boxes {
		flex-direction: column;
		align-items: center;
	}
	
	.event-boxes .event-box {
		width: min(30em, 100vw - 2 * var(--gap));
	}
}

.event-box svg {
	margin-top: 1em;
	width: 6em;
	height: 6em;
}

.event-box a {
	color: var(--text-color-on-emphasis);
	text-decoration: underline;
}

.grey-section {
	text-align: center;
    background-color: #ecf0f1;
}

.lightgrey-section {
    background-color: #f8fdfe;
}

.green-section {
    background-color: var(--background-color-emphasis);
    color: var(--text-color-on-emphasis);
    text-align: center;
    padding: 20px 50px;
    font-size: 1.2em;
}

.green-section a {
    color: var(--background-color-darker);
    text-decoration: underline;
}

.event-details {
    padding-top: 10px !important;
}

.event-details .event-name {
    font-weight: bolder;
    font-size: 1.3em;
	line-height: 1.1em;
	margin-bottom: 0.5em;
}

footer.page-footer {
    background-color: var(--background-color-darker);
	margin-top: 0;
}

footer a {
    color: var(--link-color-on-dark);
}

.breadcrumbs {
    background-color: var(--background-color-dark);
    color: var(--text-color-on-dark);
    padding: 1px 1px 1px 10px;
}

.breadcrumb {
	margin: 0.5em 0;
	font-size: 1rem;
}

.breadcrumb li {
    display: inline-block;
}

.side-nav li:hover,
.side-nav li.active {
    background-color: transparent;
    color: #21a186;
}

nav ul a:hover {
    background-color: transparent;
    color: #21a186;
}

.row {
    margin-bottom: 0;
}

ul.post-list {
    padding: 0;
    list-style-type: none;
}

.post-list-item {
    margin-bottom: 10px;
    background-color: var(--background-color-darker);
    padding: 15px;
    font-size: 0.9em;
}

.post-list-item p,
.post-list-item-event p {
    margin: 0;
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 0.3em;
}

.post-list-item h4 {
    margin: 5px;
    font-size: 1.5em;
}

.post-list-item .type {
    background-color: var(--background-color-darker);
    color: var(--text-color-on-dark) !important;
    padding: 3px 5px;
    border-radius: 3px;
    display: inline-block;
}

.post-list-item .type a {
    color: var(--link-color-on-dark);
    text-decoration: none;
}

.post-list-item .type:hover {
    background-color: var(--background-color-dark);
}

.post-list-title {
    font-size: 1.2em;
    font-weight: bolder;
    font-style: normal;
    margin-bottom: 0;
}

.post-content-main {
    font-size: 1.2em;
}

.event-page-menu-block {
    padding: 30px !important;
}

.post-list-item-event {
    border-radius: 5px;
    padding-bottom: 15px;
    border-bottom: 2px solid #f1f2f1;
}

.post-list-item-event .date {
    background-color: var(--background-color-emphasis);
    border-radius: 5px;
    padding: 5px 7px;
    color: var(--text-color-on-dark);
    display: inline-block;
}

.post-list-item-event .post-list-link {
    font-weight: bolder;
    color: #21a186;
}

.post-list-item {
    margin: 5px;
}

.author {
    background-color: var(--link-color-on-white);
    padding: 4px 6px;
    color: var(--text-color-on-dark);
    border-radius: 5px;
}

/****** Speakers (TAKEN FROM VDS 2015)****/

.talk {
    padding: 10px 5px 10px 10px;
    border: 1px solid #cccccc;
    margin: 5px 0px 5px 0px;
}

.tbioabstract {
    width: 75%;
    padding: 10px 0px 10px 0px;
}
.ttitle {
    font-weight: 800;
    font-size: 1.1em;
}
.tspeaker {
    font-weight: 600;
    font-size: 1em;
}

.ptitle {
    font-weight: 700;
    font-size: 1em;
}
.pauthor {
    font-weight: 500;
    font-size: 0.9em;
}

.tportrait {
    float: right;
    padding: 10px 0px 10px 0px;
    font-size: 0.6em;
}

@media screen and (max-width: 600px) {
    .tportrait {
        width: 35%;
    }
}

.tabstract {
    padding: 5px 5px 5px 5px;
    /*border: 1px solid #cccccc;*/
    /*background-color: #eeeeee;*/
}

.tbio {
    padding: 5px 5px 5px 5px;
    /*border: 1px solid #cccccc;*/
}

.sumTime {
    font-weight: 600;
    width: 120px;
    float: left;
}

.sumTime2 {
    font-weight: 600;
    font-size: 20px;
    width: 120px;
    float: left;
}

.sumContent {
    font-weight: 600;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .sumContent {
        position: relative;
        left: 10px;
        width: 100%;
        clear: both;
        margin-left: 0;
    }
}

.sumDetails {
    position: relative;
    left: 100px;
}

@media screen and (max-width: 600px) {
    .sumDetails {
        position: relative;
        left: 10px;
        width: 100%;
        clear: both;
        margin-left: 0;
    }
}

.talk {
    padding: 10px 5px 10px 10px;
    border: 1px solid #cccccc;
    margin: 10px 0px 10px 0px;
}

.tbioabstract {
    width: 75%;
    padding: 10px 0px 10px 0px;
}
.ttitle {
    font-weight: 800;
    font-size: 1.1em;
}
.tspeaker {
    font-weight: 600;
    font-size: 1em;
}


.disabled {
    pointer-events: none;
    cursor: default;
}

.side-nav .disabled,
.dropdown-content .disabled {
    color: lightgray;
}

svg {
    fill: currentColor;
}

time {
	white-space: nowrap;
}

p > time, li > time {
	font-weight: bold;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #f00;
  }
