---
layout: home
---
<section class="blue-section event-boxes">
    <a class="event-box" href="{{site.baseurl}}/ismb">
        {% include_relative images/logos/ismb.svg %}
        <div class="event-details">
            <div class="event-name">ISMB {{ site.year }} - Main Conference Event</div>
            <div class="event-location">{{ site.ISMBconferenceplace }}</div>
            <div class="event-date">{{ site.ISMBconferencedate }}</div>
        </div>
    </a>
    <a class="event-box" href="{{site.baseurl}}/ieeevis">
        {% include_relative images/logos/ieee.svg %}
        <div class="event-details">
            <div class="event-name">IEEE VIS {{ site.year }} - Workshop</div>
            <div class="event-location">{{ site.IEEEconferenceplace }}</div>
            <div class="event-date"><time>{{ site.IEEEconferencedate }}</time></div>
        </div>
    </a>
    <div class="event-box">
        <div class="event-details">
            <div class="event-name">Important Dates</div>
            <div class="event-date">
                <strong>ISMB COSI Date:</strong> <time>{{ site.ISMBconferencedate }}</time><br />
                <strong>ISMB Proceedings Paper Submission Deadline:</strong> <time>{{
                site.ismb_paper_submission_deadline }}</time><br />
                <strong>ISMB Talk Submission Deadline:</strong> <time>{{ site.ismb_talk_submission_deadline }}</time><br />
                <strong>ISMB Poster Submission Deadline:</strong> <time>{{ site.ismb_poster_submission_deadline }}</time>
            </div>
        </div>
    </div>
</section>

<section class="home-info-section">
    <div class="container">
        <p>The BioVis meetings are intended to educate, inspire, and engage visualization
            researchers in problems in biological data visualization, as well as bioinformatics and biology
            researchers in state-of-the-art visualization research.</p>
        <img src="{{ site.baseurl }}/images/home-image.svg" width="600" height="120" alt="Decorative graphics" />
    </div>
</section>

<section class="blue-section">
    <div class="container">
        <p>
            There are multiple ways to participate in BioVis through conferences and ongoing events. This year, the
            main BioVis event will be at <a href="https://www.iscb.org/about-ismb">ISMB</a> as a <a
                href="https://www.iscb.org/communities-of-special-interest">Community of Special Interest (COSI)</a>
            in {{site.ISMBconferencedate}} in {{site.ISMBconferenceplace}}. A smaller workshop event will be held at
            <a href="http://ieeevis.org">IEEE VIS</a> in {{site.IEEEconferencedate}} in
            {{site.IEEEconferenceplace}}. These events serve as a platform for researchers from biology,
            bioinformatics, and information visualization fields to increase the impact of data visualization
            approaches in biology, and to initiate interdisciplinary collaborations. Get involved in our events at a
            conference or challenge (or all three!). Important dates for submissions are available below, and on the
            detailed pages for each event.
        </p>
    </div>

    <div class="container center-align">
        <h3>News</h3>
        <ul class="post-list">
            {% for post in site.posts limit:3 %}
            {% capture category %}{{post.event}}{% endcapture %}
            <li class="post-list-item">

                <span class="type {{category}}">
                    {% if category == "ismb" %}
                    <a href="{{site.baseurl}}/ismb">@ ISMB</a>
                    {% elsif category == "ieee" %}
                    <a href="{{site.baseurl}}/ieeevis">@ IEEE</a>
                    {% elsif category == "dream" %}
                    <a href="{{site.baseurl}}/dataContest_dream">@ DREAM</a>
                    {% endif %}
                </span>

                <span class="post-list-title">
                    {{ post.date | date: "%-d %b %Y" }}
                </span>
                <h4><a class="post-list-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title
                        }}</a></h4>
                <span class="post-list-excerpt">
                    {{ post.excerpt }}
                </span>
            </li>

            {% endfor %}
        </ul>
    </div>
</section>

<section class="grey-section">
    <div class="container center-align">
        <h4>Affiliates</h4>
        <p>{{ site.conferenceshort }} is an official part of <a href="{{site.ismblink}}">ISMB {{site.year}}</a></p>
        <p><a href="https://www.iscb.org"><img src="{{site.baseurl}}/images/sponsors/ISCB.jpg" alt="ISCB" /></a></p>
    </div>
</section>
