---
layout: map_page
logo: ismb.svg
title: BioVis at ISMB
location: July 25, Lyon, France (and virtual)
main_venue_rln: Co-located
main_venue: ISMB/ECCB 2023
main_venue_url: https://www.iscb.org/ismbeccb2023
permalink: /ismb/
---

<div class="row monospace center-align">
    <div>
        <i class="material-icons large">people</i>
        <h3>Call for Participation</h3>
        <a class="btn waves-effect waves-light" href="{{site.baseurl}}/cfp_ismb" class="btn">View CfP</a>
    </div>

    {% if site.ismb_conference_registration_link %}
    <div>
        <i class="material-icons large">border_color</i>
        <h3>Registration</h3>
        <a class="btn waves-effect waves-light" href="{{ site.ismb_conference_registration_link }}"
            class="btn">Register</a>
    </div>
    {% endif %}

    <div>
        <i class="material-icons large">list</i>
        <h3>Main Program</h3>
        <a class="btn waves-effect waves-light" href="{{site.baseurl}}/program_ismb" class="btn">View
            Main Program</a>
    </div>
</div>

<div class="row monospace" style="margin-top: var(--gap)">
    <div>
        <h3 id="ismbImportantDates">Important Dates</h3>
        <ul>
            <li>ISMB COSI date: <time>{{ site.ismb_cosi_date }}</time></li>
            <li>ISMB Proceedings Paper Submission Deadline: <time>{{ site.ismb_paper_submission_deadline }}</time></li>
            <li>Talk Submission Deadline: <time>{{ site.ismb_talk_submission_deadline}}</time></li>
            <li>Poster Submission Deadline: <time>{{ site.ismb_poster_submission_deadline }}<time></li>
            <li><a href="{{ site.ismb_conference_key_dates_link }}">See ISMB Key Dates for more details</a></li>
        </ul>
    </div>


    <div>
        <h3>Latest News</h3>

        <ul class="post-list">
            {% for post in site.posts %}
            {% capture category %}{{post.event}}{% endcapture %}
            {% if category == "ismb" %}
            <li class="post-list-item-event">
                <span class="date">{{ post.date | date: "%-d %b %Y" }}</span>
                <span class="post-list-title">
                    <a class="post-list-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </span>
                <p class="post-list-excerpt">
                    {{ post.excerpt }}
                </p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
